@model PetHaven.Models.Bookings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryName)
        </dd>

        @foreach (var item in Model.BookingsLines)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.AnimalName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </dd>

        }

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBooking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBooking)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
