@model PetHaven.Models.Bookings

@{ ViewBag.Title = "Review Your Booking"; }

<script type="text/javascript">
    $(function () {
        $('.datetimepicker').datetimepicker();
    });
</script>

<br />
<br />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Bookings"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @foreach (var item in Model.BookingsLines)
    {

        <div class="form-group">
            <div class="col-md-10">@Html.DisplayNameFor(modelItem => item.Animal.Name)</div>
            <div class="col-md-10">@Html.DisplayFor(modelItem => item.Animal.Name)</div>
            <br />
            <div class="col-md-10">@Html.DisplayNameFor(modelItem => item.Animal.Description)</div>
            <div class="col-md-10">@Html.DisplayFor(modelItem => item.Animal.Description)</div>
            @*<div class="col-md-10">@Html.DisplayFor(modelItem => item.Animal.Category)</div>*@
        </div>}

    <div class="form-group">
        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-control-static">
            @Html.DisplayFor(model => Model.UserID)
            @Html.HiddenFor(model => Model.UserID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DeliveryName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DeliveryName, "", new { @class = "text-danger" })
        </div>
    </div>

    <h8>Please confirm a booking date and time you would like to visit</h8>
    <div class="form-group">
        <div class="col-md-10">            
            @*@Html.EditorFor(model => model.DateOfBooking, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.TextBoxFor(model => model.DateOfBooking, new { type = "datetime-local", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirm your booking" class="btn btn-primary" />
        </div>
    </div>
</div>}

<div>
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Edit your booking", "Index", "Booking", null, new { @class = "btn btn-sm btn-secondary" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
<!-- jQuery library -->
<script src="js/jquery.min.js"></script>

<!-- Bootstrap library -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap/js/bootstrap.min.js"></script>