@model PetHaven.Models.ApplicationUser

@{
    ViewBag.Title = "My Details";
}
<br />
<br />

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_UserDetailsPartial", Model)
        <dd>
            @Html.ActionLink("Change my password", "ChangePassword", null, new { @class = "btn btn-sm btn-secondary" })
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit My Details", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-secondary" })
</p>
<h2>@Html.ActionLink("View my Bookings", "Index", "Bookings", null, new { @class = "btn btn-sm btn-secondary" })</h2>

