@model PetHaven.Models.Animal

@{
    ViewBag.Title = "Animal Details";
}
<br />
<br />

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        @if (Model.AnimalImageMappings != null && Model.AnimalImageMappings.Any())
        {
            <dt></dt>
            <dd>
                <img src="@(Url.Content(Constants.AnimalImagePath) + Model.AnimalImageMappings.OrderBy(pim =>	pim.ImageNumber).ElementAt(0).AnimalImage.FileName)" style=padding:5px>
            </dd>
            <dt></dt>
            <dd>
                @foreach (var item in Model.AnimalImageMappings.OrderBy(pim => pim.ImageNumber))
                {
                    <a href="@(Url.Content(Constants.AnimalImagePath) + item.AnimalImage.FileName)">
                        <img src="@(Url.Content(Constants.AnimalThumbnailPath) + item.AnimalImage.FileName)" style=padding:5px>
                    </a>
                }
            </dd>
        }

        <dd>
            @if (Request.IsAuthenticated)
            {

                using (Html.BeginForm("AddToBooking", "Booking"))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    <input type="submit" class="btn btn-primary btn-xs" value="Add to Booking ">
                }
            }

        </dd>

    </dl>
</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit Animal Details", "Edit", new { id = Model.ID }, new { @class = "btn btn-sm btn-secondary" })
        @Html.Raw(" | ")
    }
    @Html.ActionLink("Back to Animal List", "Index", null, new { @class = "btn btn-sm btn-secondary" })
</p>
