@{
    ViewBag.Title = "Admin";
}
<br />
<br />

<body class="homeCenter">
    <div class="container">
        <div class="center">
            <h1>Administrator</h1>
            <br />
            <br />
            <div>
                @Html.ActionLink("Manage Images", "Index", "AnimalImages", new { area = "" }, new { @class = "btn btn-secondary" })
            </div>
            <br />
            <div>
                @Html.ActionLink("Manage Roles", "Index", "RolesAdmin", new { area = "" }, new { @class = "btn btn-secondary" })
            <div/>
            <br />
            <div>
                @Html.ActionLink("View recent reports", "Report", "RolesAdmin", new { area = "" }, new { @class = "btn btn-secondary" })
            </div>
            <br />
            <div>
                @Html.ActionLink("Manage Users", "Index", "UsersAdmin", new { area = "" }, new { @class = "btn btn-secondary" })
            </div>
            <br />
            <div>
                @Html.ActionLink("View all Bookings", "Index", "Bookings", new { area = "" }, new { @class = "btn btn-secondary" })
            </div>

        </div>
    </div>
</body>